<div class="container-sm bg-white ">

	<h4 class="card-title text-center">
		<a routerLink="foods/" class="text-dark">Product List</a>
	</h4>




	<div class=" mb-3">


		<div class="text-center my-2">
			<h6 class="text-muted  ">Search by Category</h6>
			<div class="row w-80 mx-auto">
				<a (click)="getFoodByCategory(item.name)" [ngClass]="{'text-secondary': category==item.name}" class="col-sm"
				*ngFor="let item of categoriesList">{{item.name}}</a>
			</div>
			
		</div>
		<h6 class="card-subtitle  text-muted my-2">{{title}}</h6>
		<hr class="w-99">

		<div class="list-group list-group-flush ">

			<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action "
				*ngFor="let item of foodList; let i=index" routerLink="/foods/{{item.id}}">

				<span class="badge badge-primary badge-pill ">{{i+1}}</span>

				<span class="">{{item.name}}</span>
				<button type="button" class="btn btn-sm btn-secondary" routerLink="/foods/{{item.id}}">Details</button>
			</li>
		</div>
	</div>