<div class="container-fluid m-0 p-0" style="background-color: #F7F7F7;">
  <nav class="navbar navbar-expand  navbar-dark" style="background-color:#7DA2A9;">
    <a href="#" class="navbar-brand">Spring boot</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="list-food" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-food" class="nav-link">Add Food</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-food" class="nav-link">BMI calculator</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3" style="background-color: grey darken-1;">
    <div class="row mt-3 mb-3 justify-content-md-center">
      <div class="col-md-12">
        <app-autocomplete-food></app-autocomplete-food>
      </div>

    </div>


  </div>

  <div class="container mt-3" style="background-color: peach-gradient;">
    <div class="row mt-3 mb-3 justify-content-md-center">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>

    </div>

    <!-- Footer -->
    <footer class="page-footer font-small  pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Footer Content</h5>
            <p>Here you can use rows and columns here to organize your footer content.</p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


  </div>




</div>