<div class="card ">


    <div class="card-body">

        <h4 class="card-title text-center">Comparsion List</h4>


        <div class="container-fluid col">
            <div *ngIf="!canShowList" class="row">
                <h5>No products found for comparsion</h5>
            </div>
            <div *ngIf="canShowList" class="row">
                <table class="table table-bordered table-sm">
                    <tbody>
                        <tr>
                            <th class="text-left">Nutrients</th>
                            <td class="text-center" *ngFor="let item of foods; let i=index">


                                <span class="text-info font-weight-bold">
                                    {{item.name}}
                                </span>

                            </td>

                        </tr>
                        <tr>
                            <th class="text-left"></th>
                            <td class="text-center" *ngFor="let item of foods; let i=index">


                                <button type="button" (click)="removeOneItem(item.id)"
                                    class="btn btn-secondary btn-sm">[X]
                                </button>

                            </td>

                        </tr>


                        <tr>

                            <th class="text-left">Calories from fat</th>
                            <td class="text-right" *ngFor="let item of foods; let i=index">
                                <span class="">{{item.caloriesFromFat}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-left">Calories </th>
                            <td class="text-right" *ngFor="let item of foods; let i=index">
                                <span class="">{{item.calories}}</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="mr-2">
                    <button routerLink="/list-food" class="btn btn-sm btn-success ">Add more</button>
                </div>

                <div class="">
                    <button (click)="removeAllItems()" class="btn btn-sm btn-secondary " *ngIf="canShowList">Remove
                        All</button>
                </div>
            </div>












        </div>








    </div>
</div>